/* ------------------------------------------------
  Project:   Buildzie - Construction HTML5 Template
  Author:    ThemeHt
------------------------------------------------ */

/* ------------------------
    Table of Contents

  1. General
  2. Transition
  3. Pre Loader
  4. Scroll to Top
  5. Header
  6. Footer
  7. Page Title

 
/* ------------------------
    General
------------------------*/
a, a:focus { text-decoration: none !important; }
a, a:visited { text-decoration: none; color: var(--themeht-white-color);}
a:focus, a:hover { color: var(--themeht-primary-color); text-decoration: none !important; }
a, button, input { outline: medium none !important; }
*::-moz-selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }
::-moz-selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }
::selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }


/* ------------------------
    Transition
------------------------*/
a,
.btn,
button,
img,
span,
input,
a.text-btn-wrap,
.btn-icon-wrap,
.main-nav > ul > li > a:before,
.main-nav .sub-menu li a:before,
.social-icons li:hover a,
.themeht-btn,
.service-item,
.service-image,
.service-image1, .service-image2,
.service-item.style-3 .service-title h4:before,
.service-linear,
.featured-item,
.featured-icon,
.portfolio-item,
.price-table,
.service-menu li a:before,
.team-social-icon,
.team-member .team-desc,
.team-images img,
.social-icons.footer-social li a i,
.swiper-button-next, .swiper-button-prev,
.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after{
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* ------------------------
    Box Shadow
------------------------*/
.box-shadow{
    -webkit-box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
    -moz-box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
    box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
}


/* ------------------------
    Pre Loader
------------------------*/
#ht-preloader {background: var(--themeht-body-bg-color); bottom: 0; height: 100%; left: 0; overflow: hidden !important; position: fixed; right: 0; text-align: center; top: 0; width: 100%; z-index: 99999;}
.clear-loader { z-index: 999; box-sizing: border-box; display: inline-block; left: 50%; transform: translateX(-50%) translateY(-50%); position: absolute; text-align: center; top: 50%; display: flex; justify-content: center; align-items: center; }

.loader-wrap-heading .load-text {
  color: var(--themeht-white-color);
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 15px;
  text-transform: uppercase;
  z-index: 20;
  font-family: var(--themeht-typography-body-font-family); }

.load-text span {
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate; }

.load-text span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.load-text span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.load-text span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.load-text span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.load-text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.load-text span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.load-text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
  
.load-text span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.load-text span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
  
 .load-text span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; } 
  


/* ------------------------
    Scroll to Top
------------------------*/
.scroll-top { position: fixed; right: 50px; bottom: 50px; cursor: pointer; display: block; z-index: 10000; opacity: 0; visibility: hidden; transform: translateY(15px); -webkit-transition: all 200ms linear; transition: all 200ms linear; background: var(--themeht-primary-color); }
.scroll-top.scroll-visible { opacity: 1; visibility: visible; transform: translateY(0); }
.scroll-top { height: 40px; width: 40px; display: block; outline: 1px solid var(--themeht-primary-color); cursor: pointer; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); }
.scroll-top svg line { stroke-width: 2; stroke: var(--themeht-text-color); fill: none; stroke-dasharray: 20; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.scroll-top:hover svg line.top { -webkit-transform: translateX(-40px); transform: translateX(-40px); }
.scroll-top:hover svg line.bottom { -webkit-transform: translateX(40px); transform: translateX(40px); }
.scroll-top:hover svg line.left { -webkit-transform: translateY(40px); transform: translateY(40px); }
.scroll-top:hover svg line.right { -webkit-transform: translateY(-40px); transform: translateY(-40px); }
.scroll-top .left-bar { position: absolute; z-index: 1; background-color: transparent; top: 19px; left: 5px; width: 18px; display: block; transform: rotate(-45deg); }
.scroll-top .left-bar:after { content: ""; background-color: var(--themeht-text-color); width: 18px; height: 2px; display: block; border-radius: 1px; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); transform-origin: right center; z-index: -1; }
.scroll-top .right-bar { position: absolute; z-index: 1; background-color: transparent; top: 19px; left: 17px; width: 18px; display: block; transform: rotate(45deg); border-radius: 2px; }
.scroll-top .right-bar:after { content: ""; background-color: var(--themeht-text-color); width: 18px; height: 2px; display: block; border-radius: 1px; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); transform-origin: left center; z-index: -1; }
.scroll-top:hover { transition: all 0.1s; }
.scroll-top:hover .left-bar:after { transform: rotate(-10deg); }
.scroll-top:hover .right-bar:after { transform: rotate(10deg); }


 /* ------------------------
    Subscribe Form
------------------------*/
.subscribe-form { margin: 0; padding: 0; position: relative; }
.mc-form { width: 100%; }
.mc-form input[type="email"] { border-radius: 4px; width: 100%; border: 1px solid #383148; background: transparent; color: var(--themeht-text-color); font-size: 14px; padding: 0 20px; height: 60px; }
.mc-form input[type="email"]:focus { border-color: 1px solid var(--themeht-primary-color); color: var(--themeht-white-color) }
.subscribe-form { display: flex; align-items: center; position: relative; margin-bottom: 10px; }
.subscribe-form button { border: inherit; color: var(--themeht-white-color); line-height: inherit; position: absolute; right: 10px; top: auto; padding: 0; font-size: 18px; background: var(--themeht-primary-color); width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 4px; }
.subscribe-form button:hover { background: var(--themeht-white-color); color: var(--themeht-text-color);}
.subscribe-form button.text-btn { width: auto; height: auto; padding: 8px 15px; font-weight: 700; font-size: 16px; line-height: 22px; }


/* ------------------------
    Header
------------------------*/
.header-number { display: flex; align-items: center; }
.header-number span { display: block; font-size: 12px; line-height: 1em; font-weight: 400; color: var(--themeht-body-color); margin-bottom: 2px; }
.header-number i { font-size: 40px; color: var(--themeht-text-color); display: inline-block; line-height: 1; margin-right: 10px; }
.header-number a { color: var(--themeht-white-color); font-weight: 700; }
.header-number a:hover { color: var(--themeht-primary-color); text-decoration: underline !important; }
.header-number i { line-height: 48px; height: 48px; width: 48px; text-align: center; border-radius: 50%; font-size: 22px; color: var(--themeht-text-color); background-color: var(--themeht-white-color); position: relative; margin-right: 15px; }
.header-number i:after { position: absolute; top: -7px; right: -7px; bottom: -7px; left: -7px; background-color: var(--themeht-primary-color); opacity: 0.1; border-radius: 50%; content: ""; }

.header { position: relative; border-bottom: 1px solid var(--themeht-border-light-color); padding: 20px 50px; z-index: 9999; }
.navbar-brand { margin: 0; padding: 0; margin-right: 70px;}
.logo img{max-height: var(--logo-desktop-height);}
.navbar { padding: 0; }
.navbar-nav{margin-right: auto;}
.navbar-nav .nav-item { margin: 0 20px; }
.navbar-nav .nav-item.dropdown .dropdown-menu { padding: 20px; background: var(--themeht-white-color); top: 100%; border: none; border-radius: 5px; margin-top: 0; left: 0; box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06); }
.navbar-nav .dropdown-menu .dropdown-submenu .dropdown-menu { background: var(--themeht-white-color); left: 100%; margin: 0; right: auto; top: 0; }
.navbar-nav .dropdown-submenu { display: block; position: relative; }
.navbar-nav .nav-link { color: var(--themeht-white-color); text-transform: uppercase; font-size: 14px; line-height: 24px; font-weight: 600; padding: 0 !important; border-radius: 0; position: relative; }
.navbar-nav .nav-link:hover, .navbar-nav .nav-item .nav-link.active { color: var(--themeht-primary-color); }

.nav-item.dropdown .dropdown-menu li:last-child { margin-bottom: 0; }
.nav-item.dropdown .dropdown-menu a { text-transform: uppercase; display: block; padding: 10px 0; line-height: 1; white-space: nowrap; position: relative; background: none; color: var(--themeht-text-color); font-size: 13px; font-weight: 600; }
.nav-item.dropdown .dropdown-menu a:hover { color: var(--themeht-primary-color); padding-left: 10px; }
.navbar-nav .dropdown-menu .dropdown-submenu .dropdown-toggle.show, .navbar-nav .dropdown-menu .dropdown-submenu .dropdown-toggle:focus { color: var(--themeht-primary-color); padding-left: 10px; }
.nav-link.dropdown-toggle::after, .navbar-nav .dropdown-submenu .dropdown-toggle::after { border: none; content: '\F282'; font-family: bootstrap-icons !important; vertical-align: middle; font-size: 14px; line-height: 1; width: 10px; font-weight: 700; }
.navbar-nav .dropdown-submenu .dropdown-toggle::after { position: absolute; right: 0; top: 10px; content: '\F285'; }
.nav-link.dropdown-toggle::after{display: none;}
@media (min-width:992px) {
    .navbar-nav .dropdown-menu { min-width: 12em !important; max-width: 20em !important; }
    .navbar-nav .dropdown > .dropdown-menu { opacity: 0; position: absolute; display: block; pointer-events: none; background: var(--themeht-white-color); }
    .navbar-nav .dropdown:hover > .dropdown-menu { display: block; opacity: 1; pointer-events: auto; visibility: visible; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -ms-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; }
    .navbar-nav .dropdown-submenu:hover .dropdown-menu { top: 0; }
    .navbar-nav.ms-auto .nav-item.dropdown .dropdown-menu { right: 0; }
    .navbar-nav.ms-auto .dropdown-menu .dropdown-submenu .dropdown-menu { left: auto; right: 100%; }
}
@media (max-width:991.98px) {
    .navbar-nav .dropdown-submenu .dropdown-menu { padding: 0; top: 0; }
}

 
/* ------------------------
    Footer
------------------------*/
.footer { background-color: var(--themeht-bg-dark-color); overflow: hidden; position: relative; z-index: 9; clear: both; padding-top: 50px; }
.primary-footer { position: relative; z-index: 99; padding: 150px 0 100px; }
.secondary-footer { position: relative; color: var(--themeht-white-color); border-top: 1px solid rgba(255, 255, 255, 0.12); }
.copyright { padding: 30px 0; position: relative; text-align: center; }
.copyright-text a { text-decoration: underline !important; color: var(--themeht-primary-color); }
.media-icon.list-inline li { display: inline-block; }
.media-icon li { color: var(--themeht-white-color); margin-bottom: 20px; padding-bottom: 20px; font-size: 25px; line-height: 33px; letter-spacing: -.48px; text-transform: uppercase; font-weight: 500; position: relative; }
.media-icon li:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
.media-icon li h6 { color: var(--themeht-body-color); font-size: 14px; font-weight: 700; line-height: 20px; }
.media-icon li a { color: var(--themeht-white-color); }
.media-icon li a:hover { color: var(--themeht-primary-color); }
.social-icons.footer-social { display: inline-block; }
.social-icons.footer-social li { margin: 0 0 20px 0; }
.social-icons.footer-social li:last-child { margin: 0; }
.social-icons.footer-social li a { height: auto; width: auto; line-height: 1; font-size: 20px; color: var(--themeht-primary-color); background-color: inherit; border: none; display: flex; align-items: center; border-radius: 0; }
.social-icons.footer-social li a:hover { background-color: inherit; color: var(--themeht-primary-color); }
.social-icons.footer-social li a:hover span { color: var(--themeht-primary-color); }
.social-icons.footer-social li a i { font-size: 0; line-height: 1; margin-right: 15px; }
.social-icons.footer-social li a:hover i { font-size: 30px; }
.social-icons.footer-social li a span { font-size: 60px; line-height: 64px; text-transform: uppercase; color: var(--themeht-body-color); }
.footer h2 { font-size: 80px; line-height: 90px; margin-bottom: 50px; }
.footer .marquee-wrap.style2 { background: var(--themeht-primary-color); }
.footer .marquee-wrap.style2 .marquee-text i { color: var(--themeht-text-color); }

/* ------------------------
    Page Title
------------------------*/
.page-title { position: relative; overflow: hidden; display: block; margin: 35px 0 0; z-index: 1; padding: 0; }
.breadcrumb { display: inline-flex; align-items: center; margin: 0; text-transform: capitalize; margin-top: 10px; }
.breadcrumb-item { display: inline-block; font-weight: 600; word-break: break-all; }
.breadcrumb-item, .breadcrumb-item a { display: flex; align-items: center; font-size: 14px; line-height: 14px; font-weight: 600; letter-spacing: 1px; color: var(--themeht-white-color); margin: 5px 0px; }
.breadcrumb-item.active { color: var(--themeht-white-color); }
.breadcrumb-item a:hover { color: var(--themeht-primary-color); }
.breadcrumb-item + .breadcrumb-item:before { color: var(--themeht-white-color); }
.breadcrumb i { border-radius: 5px; color: var(--themeht-text-color); background-color: var(--themeht-primary-color); height: 26px; width: 26px; line-height: 1; display: flex; margin-right: 10px !important; align-items: center; justify-content: center; }
.page-title h1 { font-size: 50px; line-height: 60px; word-break: break-word; margin-bottom: 0; color: var(--themeht-white-color) }
.page-title .page-title-bg { background-position: top 30% right; position: absolute; top: 0; width: 49%; height: 100%; right: 15px; border-radius: 10px; }
.theme-breadcrumb-box { background: linear-gradient(190deg, #1D1D1F 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgb(29, 29, 29) 100%); padding: 100px 50px; border-radius: 10px; }